.header {
	position: fixed;
	background: rgba(16, 16, 29, 0.9);
	width: 100%;
	z-index: 1000;
}
.header__container {
	padding: 33px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation__link:hover {
    color: $hover;

}

.logo_image {
	@include phone {
    width: 85%;
  }
}