.hero {

  background: url(./images/pic/bg/main-bg.jpg) 100% no-repeat;
    min-height: 758px;
    background-size: cover;

    @media (max-width: 1345px) {
      background: url(./images/pic/bg/main-bg.jpg) 60% no-repeat;
      background-size: cover;

  }

    @media (max-width: 925px) {
      background: url(./images/pic/bg/main-bg.jpg) 46% no-repeat;
      background-size: cover;

  }

  @include tablet {
    background: url(./images/pic/bg/main-bg.jpg) 10% no-repeat;
    background-size: cover;
    min-height: 630px;
}
@include phone {
    background: url(./images/pic/bg/main-bg.jpg) 10% no-repeat;
    background-size: cover;
    min-height: 585px;
}
}
 
.hero__text {
  color: $black;
  font-size: 20px;
  max-width: 600px;

  @include tablet { 
    font-size: 18px;
  } 
  @include phone { 
    font-size: 16px;
    text-align: center;
  } 

}
.hero__about {
  margin-bottom: 70px;
  
    @media (max-width: 542px) { 
      margin-bottom: 45px;
    } 
    @include phone { 
      margin-bottom: 40px;
    } 
}
.about__text {
  font-weight: 800;
  padding-bottom: 10px;
}

.hero__container {
position: relative;
}

.hero__content {
  position: absolute;
  left: auto;
  transform: translate(0%, 28%);

  @include tablet { 
    transform: translate(0%, 32%);
  } 

  @include phone { 
    transform: translate(0%, 35%);
  } 
  @media (max-width: 404px) { 
    transform: translate(0%, 24%) !important;
  } 
}

.hero__buttons {
  @include phone { 
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}

.order-desc {
  margin-left: 20px;

  @include phone { 
    margin-left: 0;
  } 
}

.order-link {
  @include phone { 
    padding: 12px 68px;
    margin-bottom: 15px;
  } 
}