.title {
  color: $blue;
  font-size: 36px;
  font-weight: 800;
  text-transform:uppercase;
  @include tablet { 
    font-size: 30px;
  }

  @include phone {  
    font-size: 26px;
  }
}

.hero__title {
  font-size: 48px;
  line-height: 58px;

  @include tablet { 
    font-size: 36px;
      line-height: 47px;
      } 
   @include phone { 
    line-height: 33px;
    font-size: 26px;
   }
   @media (max-width: 341px) {
    font-size: 24px !important;
  }
}

.title__black {
  color: $black;
}

.title__white {
  color: $white;
}